@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* || General styles */

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* || Typography & Colors */

body {
  font: 500 15px/1.5em "Lato", sans-serif;
  color: #272a31;
  background-color: #f7f7f7;
  background-image: url(images/mBgTop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
h3,
h4 { font-weight: 600; }

.ff-1 { font-family: 'Cocogoose', sans-serif; }

.ff-2 { font-family: 'Lato', sans-serif; }

.head4 {
  font-size: 1.3em;
  line-height: 1.1em;
}

.main-head {
  font-size: 1.9em;
  line-height: 1.1em;
  letter-spacing: 0.02em;
  margin: 0.2em 0;
  width: 90%;
}

#main-title {
  background-image: url(images/fiery.jpg);
  background-size: cover;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: #ec5242; /* Fall back for background-clip */
  color: transparent;
}

.title-tag {
  font-size: 1.7em;
}

.sec-head {
  font-size: 1.3em;
  width: 100%;
}

.sec-text {
  font-size: 1.1em;
  margin: 4px 0;
}

.desc {
  line-height: 1.2em;
  min-width: 160px;
  width: calc(100% - 140px);
  max-width: 360px;
  font-weight: 700;
}

.designation {
  line-height: 1.07em;
  font-size: 0.85em;
  color: #ec5242;
}

.fs-intro {
  line-height: 1.05em;
  font-size: 0.8em;
}

.rh { line-height: 0.8em; }

.clr-1 { color: #272a31; }

.clr-2 { color: #ec5242; }

.clr-3 { color: #d3d3d3; }

.clr-4 { color: #f7f7f7; }

/* ||========  containers and placeholders ========= || */

header,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
}

.toolbar {
  height: 24px;
  padding: 2px 0;
  background-color: #272a31;
}

.tools {
  flex-direction: row;
  gap: 20px;
  justify-content: right;
  align-items: center;
  font: 500 0.9em/1.1em "lato", sans-serif;
  font-weight: 600;
}

.navs,
.navbar {
  justify-content: space-between;
  align-items: center;
}

.navs {
  display: flex;
  width: 60%;
  min-width: 500px;
}

.tools a { color: #f7f7f7; }

.header { padding: 20px 0; }

#headline {
  justify-content: space-around;
}

.progs,
.container-main {
  display: flex;
  margin: 0 auto;
  min-width: 280px;
  width: calc(100vw - 40px);
  max-width: 700px;
  flex-wrap: wrap;
}

#headline > .container-main { margin: 30px 0; }

#main-desc {
  position: relative;
  border: 2px solid #fff;
  padding: 20px;
  margin: 20px 0;
}

.cards {
  min-height: 130px;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  max-width: 700px;
}

#cards-container {
  row-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.img-ph {
  width: 135px;
  max-height: 130px;
  background-image: url('images/angCB.png');
  background-position: top left;
  background-repeat: no-repeat;
  flex: 0;
}

.card-img {
  height: 100px;
  width: 100px;
  margin: 15px;
}

.card-details {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  justify-content: space-evenly;
  max-width: calc(100% - 130px);
}

.prog-img-ph {
  width: 32px;
}

.prog-img {
  width: 100%;
}

.topic {
  width: 90px;
}

#feature-speaker {
  background-color: #fff;
  padding: 30px 20px;
}

/* ||  ====== Patterns ======= || */

.pattern-2 {
  position: absolute;
  background-image: url('images/capsPat.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
}

#desc-pat-tr {
  top: -62px;
  right: 20px;
  background-position: center 20px;
}

hr {
  width: 25px;
  background-color: #ec5242;
  border: none;
  height: 2px;
  margin-top: 7px;
}

/* || ===== Main Program ======  */

#programs {
  background-image: url(images/pat-m.png);
  background-repeat: repeat;
  background-color: #272a31fc;
  color: #d3d3d3;
  justify-content: space-around;
  padding: 40px 0;
}

.progs {
  row-gap: 10px;
  margin: 30px 0;
}

.pro-item {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#partners-ph {
  background-color: #272a31;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 18px;
  row-gap: 10px;
}

.partners {
  min-width: 60px;
  width: 26%;
  justify-content: center;
}

#footer { background-color: #fff; }

#partners { text-align: center; }

#host-ph {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

/* || ======= Utilities ======== || */

.fw { width: 100%; }

.menu {
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: none;
  background-image: url(images/menu.svg);
}

.navlink {
  color: #272a31;
  padding: 6px 8px;
}

#nav-link-tr-1,
.navlink:active { color: #ec5242; }

#nav-link-tr-6 { border: 4px solid #ec5242; }

.btn {
  height: 64px;
  width: 72%;
  background-color: #ec5242;
  border: none;
}

button:hover {
  cursor: pointer;
}

.mob-toggle {
  width: 100%;
  height: 52px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  background-image: url('images/more.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.btn-less { background-image: url('images/less.png'); }

/* || Overlay Menu */

.no-scroll { overflow: hidden; }

.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #272a31;
  mix-blend-mode: multiply;
  backdrop-filter: blur(8px);
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 600;
  overflow: hidden;
  padding: 30px 0;
  transition: all 2s;
}

#close {
  height: 24px;
  width: 24px;
  align-self: flex-end;
  margin-right: 32px;
  margin-bottom: 32px;
}

.overlay {
  padding: 10px 0;
  width: max-content;
  color: #fff;
  text-decoration: none;
  align-self: center;
}

#close:hover,
.overlay:hover {
  cursor: pointer;
}

/* || Overlay Ends */

.col-f,
.dtp { display: none; }

.mob { display: block; }

@media only screen and (min-width: 768px) {
  /* || Deskstop Responsive */

  .col-f,
  .dtp { display: flex; }

  .mob { display: none; }

  #headline {
    height: calc(100vh - 95px);
    justify-content: space-around;
    background-image: url('images/dbg.png');
  }

  .progs,
  .container-main {
    max-width: calc(100vw - 80px);
    min-width: 700px;
    width: 80%;
  }

  #brand {
    width: 100px;
    height: 40px;
  }

  .header {
    padding: 0;
    height: 96px;
    background-color: #fff;
    gap: 8px;
  }

  #main-desc {
    width: 520px;
    background-color: #f7f7f7;
  }

  .progs {
    flex-wrap: wrap;
    padding: 0;
    gap: 3px;
  }

  .pro-item {
    /* min-width: 10px; */
    padding: 5px 0;
    width: 19%;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
  }

  .topic,
  .desc {
    min-width: 90%;
    text-align: center;
    font-size: 0.8em;
  }

  #join {
    border: none;
    background-color: transparent;
    text-decoration: underline;
  }

  #cards-container {
    justify-content: space-between;
  }

  .cards {
    width: 48%;
    gap: 0;
  }

  .partners {
    min-width: none;
    width: auto;
  }

  .main-head {
    font-size: 3.8em;
    font-weight: 500;
  }
}
